@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:wght@600&family=Poppins:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
.top-container {
  height: 80vh;
}
.nav {
  display: flex;
  justify-content: flex-start;
  padding-top: 1em;
  padding-left: 3.8em;
  padding-right: 3.5em;
  align-items: center;
}
.nav h3 {
  margin-left: auto;
  font-family: 'Montserrat', sans-serif;
  color: #7A87A1;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  margin-right: 4rem;
}
.nav h3:hover {
  padding-bottom: 0.2em;
  color: black;
  border-bottom: 2.5px solid black;
}
.nav-style {
  color: red;
  font-size: 2em;
}
.nav-font-pt1 {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  padding-bottom: 0.4rem;
}
.nav-font-pt2 {
  font-family: 'Segoe Script';
  font-weight: 900;
}

.btn{
  padding: 0.7em;
  border: 3px solid black;
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.5em;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
  
}
.btn h1{
  display: inline;
  padding-left: 6px;
}
.btn:hover{
  transition: all 0.4s ease-in-out;
  background-color: black;
  color: white;
}
.left-component {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 10px;
}
.left-component h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.5em;
  line-height: 131.5%;
}
.left-component p{
  font-family: 'Montserrat Alternates', sans-serif;
  margin-top: -5px;
  color: #7A87A1;
  font-size: x-large;
}
.right-component {
  text-align:center;
}
.hero-component{
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 3em;
  padding-bottom: 5em;
}
.lower{ 
  background-color: #002F96;
  border-radius: 10px 10px 0 0;
  height: 20vh;
}
.knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button
{
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 0;
    overflow: hidden;
}

.button.r, .button.r .layer
{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

#button-1 .knobs:before
{
    content: 'YES';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #03A9F4;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before
{
    content: 'NO';
    left: 42px;
    background-color: #f44336;
}

#button-1 .checkbox:checked ~ .layer
{
    background-color: #fcebeb;
}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer
{
    transition: 0.3s ease all;
}
.longURL-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 1em 0.5em 1em;
}
.shortURL-box{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0.5rem 3rem 0rem 3rem;
}
.longURL-box > form {
  width: 100%;
}
.submit-btn{
  background-color: #1CCA00;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 7px;
  border-radius: 10px;
  width: 4%;
  float: right;
  font-family:'Montserrat Alternates', sans-serif ;
  font-weight: 800;
}
#customLabel {
  font-size: larger;
  font-family:'Montserrat Alternates', sans-serif;
  color: #DFDFDF;
  width: max-content;
  position: relative;
  top:-25%;
  left: 25%;
  padding-left: 10px;
  
}
input[type=text], input[type=password] {
  margin-right: auto;
  width: 95%;
  padding: 7px;
  border: none;
  border-radius: 4px;
  font-size: 1.2em;
  font-family:'Montserrat Alternates', sans-serif ;
  font-weight: 800;
}
#shorttextbox{
  width: 85%;
  transition: all 0.2s ease-in-out;
  position: relative;
  left: 20%;
}
#shorttextbox::placeholder {
  font-size: 0.9rem;
}
#textbox{
  margin-top: 1rem;
}
.display {
  opacity: 0;
  pointer-events: none;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color : #f4f4f2;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  padding: 20px;
}

/* The Close Button */
.close, .submit {
  color: #F25751;
  border-radius: 20px;
  border: 3px solid  #F25751 ;
  float: right;
  font-size: 1.3rem;
  padding: 0.3em;
  font-weight: bold;
  width: 10%;
  text-align: center;
  margin-right: 1rem;
}
.submit {
  color: #03c4a1;
  border: 3px solid  #03c4a1 ;
  
}

.close:hover,
.close:focus {
  transition: all 0.25s ease-in-out;
  background-color: #F25751;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.submit:hover,
.submit:focus {
  transition: all 0.25s ease-in-out;
  background-color: #03c4a1;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color:#f4f4f2;
}

.modal-body {padding: 2px 16px; text-align: center;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: #f4f4f2;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
.modal-text{
  background-color: #e8e8e8;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Righteous', cursive;
  font-size: 1.5em;
  margin-bottom: 10px;
  display: inline;
  cursor: pointer;
}
#copy {
  cursor: pointer;
  position: relative;
  top: 5px;
  margin-right: 10px;
}
#copy:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}
.container {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.left, .middle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left {
  font-size: 12rem;
  font-family: 'Poppins', sans-serif;
  color: #f44336;
}
#modal-form {
  background-color: #002F96;
}

/*media queries*/
/*screen size <=320px */
@media screen and (max-width: 320px) {
  .nav {
    display: flex;
    justify-content: center;
    padding-top: 0.3rem;
    align-items: center;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  .nav img {
    width: 20%;
  }
  .nav h3 {
    font-family: 'Montserrat', sans-serif;
    color: #7A87A1;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin-left: auto;
    margin-right: 0.7rem;
  }
  .nav h3:hover {
    padding-bottom: 0.2em;
    color: black;
    border-bottom: 2.5px solid black;
  }
  .nav-style {
    color: red;
    font-size: 1.6em;
  }
  .nav-font-pt1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    padding-bottom: 0.3rem;
  }
  .nav-font-pt2 {
    font-family: 'Segoe Script';
    font-weight: 900;
    padding-bottom: 0rem;
  }
  
  .btn{
    padding: 1em;
    border: 3px solid white;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.3rem;
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .btn h1{
    display: none;
    padding-left: 0px;
  }
  .btn img {
    width: 100%;
  }
  .btn:hover{
    transition: all 0.4s ease-in-out;
    background-color: white;
    
    transform: scale(1.2);
    color: white;
  }
  .left-component {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 0rem;
  }
  .left-component h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.8em;
    line-height: 131.5%;
  }
  .left-component p{
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: -5px;
    color: #7A87A1;
    font-size: 1.3em;
  }
  .right-component {
    text-align:center;
  }
  .right-component img {
    width:75%;
  }
  .hero-component{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 5em;
  }
  .close, .submit {
    color: #F25751;
    border-radius: 20px;
    border: 3px solid  #F25751 ;
    float:none;
    font-size: 1.3rem;
    padding: 0.3em;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }
  .submit {
    color: #03c4a1;
    border: 3px solid  #03c4a1 ;
    margin-right: 0rem;
    margin-bottom: 0.5rem;
  }
  .close:hover,
  .close:focus {
    transition: all 0.25s ease-in-out;
    background-color: #F25751;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  .submit:hover,
  .submit:focus {
    transition: all 0.25s ease-in-out;
    background-color: #03c4a1;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  .longURL-box > form {
    width: 100%;
  }
  .submit-btn{
    margin-top: 0.5rem;
    background-color: #1CCA00;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 7px;
    border-radius: 10px;
    width: 100%;
    float: none;
    font-family:'Montserrat Alternates', sans-serif ;
    font-weight: 800;
  }
  .lower{ 
    margin-top: 1rem;
    height: 35vh;
  }
  #longtextbox {
    width: 100%;
  }
  .shortURL-box{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    padding: 0.5rem 2rem 0rem 2rem;
  }
  #customLabel {
    font-size: larger;
    font-family:'Montserrat Alternates', sans-serif;
    color: #DFDFDF;
    width: max-content;
    position: relative;
    top:-25%;
    left: 35%;
    padding-left: 10px;
  }
  #shorttextbox{
    width: 100%;
    transition: all 0.2s ease-in-out;
    position: relative;
    left: 0%;
    margin-top: 1rem;
  }
}

/*screen size <=480px*/
@media screen and (min-width: 321px) and (max-width: 480px){
  .nav {
    display: flex;
    justify-content: center;
    padding-top: 0.3rem;
    align-items: center;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  .nav img {
    width: 15%;
  }
  .nav h3 {
    font-family: 'Montserrat', sans-serif;
    color: #7A87A1;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin-left: auto;
    margin-right: 0.7rem;
  }
  .nav h3:hover {
    padding-bottom: 0.2em;
    color: black;
    border-bottom: 2.5px solid black;
  }
  .nav-style {
    color: red;
    font-size: 2em;
  }
  .nav-font-pt1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    padding-bottom: 0.3rem;
  }
  .nav-font-pt2 {
    font-family: 'Segoe Script';
    font-weight: 900;
    padding-bottom: 0rem;
  }
  
  .btn{
    padding: 1em;
    border: 3px solid white;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.3rem;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .btn h1{
    display: none;
    padding-left: 0px;
  }
  .btn img {
    width: 70%;
  }
  .btn:hover{
    transition: all 0.4s ease-in-out;
    background-color: white;
    color: white;
    transform: scale(1.2);
  }
  .left-component {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 0rem;
    
  }
  .left-component h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    line-height: 131.5%;
  }
  .left-component p{
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: -5px;
    color: #7A87A1;
    font-size: 1.3em;
  }
  .right-component {
    text-align:center;
  }
  .right-component img {
    width:75%;
    margin-top: 5%;
  }
  .hero-component{
    display: grid;
    grid-template-rows: 1.2fr auto;
    grid-template-columns: 1fr;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 1em;
  }
  .close, .submit {
    color: #F25751;
    border-radius: 20px;
    border: 3px solid  #F25751 ;
    float:none;
    font-size: 1.3rem;
    padding: 0.3em;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }
  .submit {
    color: #03c4a1;
    border: 3px solid  #03c4a1 ;
    margin-right: 0rem;
    margin-bottom: 0.5rem;
  }
  .close:hover,
  .close:focus {
    transition: all 0.25s ease-in-out;
    background-color: #F25751;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  .submit:hover,
  .submit:focus {
    transition: all 0.25s ease-in-out;
    background-color: #03c4a1;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  .longURL-box > form {
    width: 100%;
  }
  .submit-btn{
    margin-top: 0.5rem;
    background-color: #1CCA00;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 7px;
    border-radius: 10px;
    width: 100%;
    float: none;
    font-family:'Montserrat Alternates', sans-serif ;
    font-weight: 800;
  }
  .lower{ 
    margin-top: 1rem;
    height: 35vh;
  }
  #longtextbox {
    width: 100%;
  }
  .shortURL-box{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    padding: 0.5rem 2rem 0rem 2rem;
  }
  #customLabel {
    font-size: larger;
    font-family:'Montserrat Alternates', sans-serif;
    color: #DFDFDF;
    width: max-content;
    position: relative;
    top:-25%;
    left: 35%;
    padding-left: 10px;
  }
  #shorttextbox{
    width: 100%;
    transition: all 0.2s ease-in-out;
    position: relative;
    left: 0%;
    margin-top: 1rem;
  }
}
/*screen size <=768px*/
@media screen and (min-width: 481px) and (max-width: 768px){
  .nav {
    display: flex;
    justify-content: center;
    padding-top: 0.3rem;
    align-items: center;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  .nav img {
    width: 10%;
  }
  .nav h3 {
    font-family: 'Montserrat', sans-serif;
    color: #7A87A1;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin-left: auto;
    
  }
  .nav h3:hover {
    padding-bottom: 0.2em;
    color: black;
    border-bottom: 2.5px solid black;
  }
  .nav-style {
    color: red;
    font-size: 2em;
  }
  .nav-font-pt1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    padding-bottom: 0.3rem;
  }
  .nav-font-pt2 {
    font-family: 'Segoe Script';
    font-weight: 900;
    padding-bottom: 0rem;
  }
  
  .btn{
    padding: 1em;
    border: 3px solid black;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.5rem;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .btn h1{
    display: inline;
    padding-left: 10px;
  }
  .btn img {
    width: 20%;
  }

  .left-component {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 0rem;
    
  }
  .left-component h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4.1em;
    line-height: 131.5%;
  }
  .left-component p{
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: -5px;
    color: #7A87A1;
    font-size: 1.3em;
  }
  .right-component {
    text-align:center;
  }
  .right-component img {
    width:45%;
    margin-top: -3%;
  }
  .hero-component{
    display: grid;
    grid-template-rows: 1.2fr auto;
    grid-template-columns: 1fr;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 1em;
  }
  .close, .submit {
    color: #F25751;
    border-radius: 20px;
    border: 3px solid  #F25751 ;
    float:none;
    font-size: 1.3rem;
    padding: 0.3em;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }
  .submit {
    color: #03c4a1;
    border: 3px solid  #03c4a1 ;
    margin-right: 0rem;
    margin-bottom: 0.5rem;
  }
  .close:hover,
  .close:focus {
    transition: all 0.25s ease-in-out;
    background-color: #F25751;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  .submit:hover,
  .submit:focus {
    transition: all 0.25s ease-in-out;
    background-color: #03c4a1;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  .longURL-box > form {
    width: 100%;
  }
  .submit-btn{
    margin-top: 0.5rem;
    background-color: #1CCA00;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 7px;
    border-radius: 10px;
    width: 100%;
    float: none;
    font-family:'Montserrat Alternates', sans-serif ;
    font-weight: 800;
  }
  .lower{ 
    margin-top: 1rem;
    height: 35vh;
  }
  #longtextbox {
    width: 100%;
  }
  .shortURL-box{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    padding: 0.5rem 2rem 0rem 2rem;
  }
  #customLabel {
    font-size: larger;
    font-family:'Montserrat Alternates', sans-serif;
    color: #DFDFDF;
    width: max-content;
    position: relative;
    top:-25%;
    left: 35%;
    padding-left: 10px;
  }
  #shorttextbox{
    width: 100%;
    transition: all 0.2s ease-in-out;
    position: relative;
    left: 0%;
    margin-top: 1rem;
  }
}