@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:wght@600&family=Poppins:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  height: 100vh;
}
.nav {
  display: flex;
  justify-content: flex-start;
  padding-top: 1em;
  padding-left: 3.8em;
  padding-right: 2.7em;
  align-items: center;
}
.nav-style {
  color: red;
  font-size: 2em;
}
.nav-font-pt1 {
  font-family: 'Righteous', cursive;
  font-weight: normal;
}
.nav-font-pt2 {
  font-family: 'Segoe Script';
  font-weight: 900;
}

.btn{
  padding: 0.7em;
  border: 3px solid black;
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.5em;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  
}
.btn h1{
  display: inline;
  padding-left: 6px;
}
.btn:hover{
  transition: all 0.4s ease-in-out;
  background-color: black;
  color: white;
}
.left-component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 10px;
}
.left-component h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.5em;
  line-height: 131.5%;
}
.left-component p{
  font-family: 'Montserrat Alternates', sans-serif;
  margin-top: -5px;
  color: #7A87A1;
  font-size: x-large;
}
.right-component {
  text-align:center;
}
.hero-component{
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 2.3em;
  padding-bottom: 5em;
}
.lower{ 
  background-color: #002F96;
  border-radius: 10px 10px 0 0;
  
}

.longURL-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 1em 0.5em 1em;
}
.shortURL-box{
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
  padding: 1em 5.5em 0.5em 5.5em;
}
.longURL-box > form {
  width: 100%;
}
.submit-btn{
  background-color: #1CCA00;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 7px;
  border-radius: 10px;
  width: 4%;
  float: right;
  font-family:'Montserrat Alternates', sans-serif ;
  font-weight: 800;
}
.label {
  margin-right: auto;
  font-size: larger;
  font-family:'Montserrat Alternates', sans-serif;
  color: #DFDFDF;
  padding: 2px 5px 2px 5px;
  width: fit-content;
}
#customLabel {
  padding-left: 10px;
}
input[type=text] {
  margin-right: auto;
  width: 95%;
  padding: 7px;
  border: none;
  border-radius: 4px;
  font-size: 1.2em;
  font-family:'Montserrat Alternates', sans-serif ;
  font-weight: 800;
}
#shorttextbox{
  width: 25%;
}
[type=radio] {
  border: 5px solid red;
}
.result-url{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em;
  font-family: 'Montserrat', sans-serif;
  color: #DFDFDF;
  background-color: #4567B2;
  width: 33%;
}
#copy {
  cursor: pointer;
  padding-left: 10px;
  
}
.result-url h1 {
  font-size: x-large;
}
.display {
  display: none;
}